packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

container_commands:
  01_migrate:
    command: "django-admin.py makemigrations"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_collectestatics:
    command: "django-admin.py collectstatic --noinput"
  04_create_super_user:
    command: "django-admin.py create_super_user"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: realtime_chat/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: realtime_chat.settings
