{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static 'css/rooms.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

    <h3 id="selected-room">Select a room to start chatting</h3>
    <hr>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">

                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Rooms</h4>
                    </div>
                </div>

                <div class="inbox_chat">

                    {% for room in rooms %}

                        <div class="chat_list" data-room-id="{{ room.id }}" data-room-name="{{ room.name }}">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                </div>

                                <div class="chat_ib">
                                    <h5>{{ room.name }} <span class="chat_date">{{ room.created_at }}</span></h5>
                                    <p>{{ room.description }}.</p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
            <div class="mesgs">

                <div id="messages-list" class="msg_history">
                    {% verbatim %}
                    <div v-for="item in items">
                        <div class="outgoing_msg" v-if="item.own">
                            <div class="sent_msg">
                                <p>{{ item.message }}</p>
                                <span class="time_date">{{ item.publisher_full_name }} || {{ item.created_at }}</span>
                            </div>
                        </div>

                        <div class="incoming_msg" v-if="!item.own">
                            <div class="incoming_msg_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{ item.message }}</p>
                                    <span class="time_date">{{ item.publisher_full_name }} || {{ item.created_at }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>

                <div class="type_msg">
                    <div class="input_msg_write">
                        <input disabled="" type="text" id="message-text" class="write_msg" placeholder="Select a Room"/>
                        <button id="chat-message-submit" class="msg_send_btn" type="button">
                            <i class="fab fa-telegram-plane"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <input type="hidden" id="user-id" value="{{ request.user.id }}">
    <input type="hidden" id="realtime-chat-bot" value="{{ realtime_chat_bot }}">

{% endblock %}

{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="{% static 'js/messages-send.js' %}?v=1.0.0"></script>
    <script src="{% static 'js/web-socket.js' %}?v=1.0.0"></script>
    <script src="{% static 'js/room.js' %}?v=1.0.0"></script>

{% endblock %}