{% extends 'base.html' %}

{% load static %}



{% block styles %}
    <link href="{% static 'css/rooms.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">

                <div class="inbox_chat">

                    <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>Test, which is a new approach to have all solutions
                                    astrology under one roof.</p>
                            </div>
                        </div>
                    </div>

                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            </div>

                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>

                                <p>Test, which is a new approach to have all solutions
                                    astrology under one roof.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            </div>

                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>

                                <p>Test, which is a new approach to have all solutions
                                    astrology under one roof.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            </div>

                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>

                                <p>Test, which is a new approach to have all solutions
                                    astrology under one roof.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mesgs">

                <div id="messages-list" class="msg_history">
                    {% verbatim %}
                    <div v-for="item in items">
                        <div class="outgoing_msg" v-if="item.own">
                            <div class="sent_msg">
                                <p>{{ item.message }}</p>
                                <span class="time_date">{{ item.publisher_full_name }}</span>
                            </div>
                        </div>

                        <div class="incoming_msg" v-if="!item.own">
                            <div class="incoming_msg_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{ item.message }}</p>
                                    <span class="time_date">{{ item.publisher_full_name }}</span></div>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>

                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" id="message-text" class="write_msg" placeholder="Type a message"/>
                        <button id="chat-message-submit" class="msg_send_btn" type="button">
                            <i class="fab fa-telegram-plane"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <input type="hidden" id="user-id" value="{{ request.user.id }}">


    {{ request.user.username }} - {{ request.user.id }}


{% endblock %}

{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'js/room.js' %}"></script>

{% endblock %}